header {
  display: inline-block;
  font-size: 1.3em;
  margin-top: 3vh;
}

.header-text {
  margin: 0;
  line-height: 1.1;
}

.header-text-basic {
  font-family: "Source Sans 3", serif;
  font-weight: 200;
}

.header-text-fancy {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  background-image: linear-gradient(to right, #2f3dac, #8872ea);
  color: transparent;
  background-clip: text;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

@media (max-width: 768px) {
  header {
    font-size: 1em;
    margin-top: 2vh;
  }
}
