.info-box-container {
  margin: 1vw;
  position: relative;
  background-color: #464b73;
  border-radius: 20px;
  padding: 0.1vw 3vw;
  color: white;
  font-size: 0.7em;
}

.exclamation {
  font-size: 15em;
  position: absolute;
  font-family: "Tac One", serif;
  font-weight: 800;
  left: -20px;
  top: 50%;
  line-height: 0em;
  color: #a397ec;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  font-family: "Tac One", serif;
  border: 0px;
  border-radius: 15px;
  font-size: 1.2em;
  line-height: 0em;
  width: 1.5em;
  height: 1.5em;
  margin: 0.3em;
  padding: 0.1em;
  cursor: pointer;
  color: white;
}

.highlighted-text {
  font-weight: 800;
  text-decoration: underline;
  color: #afa4f7;
  cursor: pointer;
}

.info-box-big-text {
  font-size: 2em;
  margin: 0.3vw;
}

.info-box-medium-text {
  font-size: 0.9em;
  margin: 0.1vw;
}

ul {
  text-align: left;
}

@media (max-width: 768px) {
  .info-box-container {
    padding: 0.1vw 3.2vw;
    font-size: 0.6em;
  }

  .exclamation {
    font-size: 12em;
    left: -10px;
  }

  .close-button {
    font-size: 1em;
    width: 1.7em;
    height: 1.7em;
    margin: 1em;
  }

  .info-box-big-text {
    font-size: 1.5em;
  }

  .info-box-medium-text {
    font-size: 0.8em;
  }
}
